.formulario__grupo__inputs{
    display: grid;
    grid-template-areas: "nombre input icons error";
    grid-template-columns: 0.4fr 1fr 0.1fr 1.5fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.form__grupo__label{
    grid-area: nombre;   
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start; 
}
.form__grupo__label__label{
    margin: 0;
    margin-left: 5px;
    height: 100%;
}
.form__grupo__input{
    grid-area: input;
    margin: 0;
    margin-left: 5px;
}
.form__grupo__icon{
    grid-area: icons;
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.form__grupo__error{
    grid-area: errors;
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario-input-Legajo{
    /* margin-top: -12px; */
    margin-bottom: 3px;
	width: 156px;
	margin-left: 0px;
    margin-right: 0px;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 42px;
	transition: .3s ease all;
    border-bottom: 1px solid rgb(78, 6, 6);
}
.formulario-input-Legajo:focus{
    background-image: linear-gradient(to bottom, transparent, rgb(189, 103, 103, 0.3));
}
.formulario-input-Legajo:hover{
    border-color:  #bb2929;
}
:focus-visible {
    outline: 1px solid #bb2929 ;
    border-radius: 3px;
}
.formulario-input-Legajo:active ::after ::before{
    border-color:  #bb2929;
}
.formulario__grupo-input {
	display: block;
	position: relative;
	width: 300px;
}
.formulario__label {
	display: block;
	font-weight: 400;
    width: 85px;
    margin-right: 20px;
}
.formulario__grupo{
	display: flex; 
	width: 558px;
}

.formulario__label_2daColumn{
	display: block;
	font-weight: 400;
    width: 85px;
    margin-right: 10px;
}