.formulario__label-Cuil{
    /* display: block;
    font-weight: 400;
    /* width: 30%; */
    /* width: 85px; */
    /* margin-right: 20px;  */
}

.formulario__grupo__inputs{
    /* display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; */
}