.formulario-label-DNIFamilia{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	font-style: normal;
	font-weight: 400;
	color: black;
	margin: 0;
	padding: 0;
	display: block;
}
.formulario-input-DNI-familia{
	width: 100%;
	text-align: start;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 42px;
	transition: .3s ease all;
    border-bottom: 1px solid rgb(78, 6, 6);

}
.divLabelMultiple{
	width: 8rem;
	
}
.divCboMultiple{
	/* width: 7rem; */
}

.formulario-input-DNI-input{
	width: 100%;
	text-align: start;
    /* margin-right: 0px; */
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 42px;
	transition: .3s ease all;
    border-bottom: 1px solid rgb(78, 6, 6);

}
.formulario-label-ParentescoFlia-Dos{
	font-style: normal;
	font-weight: 400;
	color: black;
	margin-top: 0px;
	margin-right: 20px;
    margin-left: 0px;
	margin-bottom: 0px;
	display: block;
}
.form-select-FliaDNI{
	margin-left: 5%;
	width: 80px;
}
.form-inputs-radioFlia{
	width: 5rem;
	height: 4rem;
}
.form-input-DNIfamilia{
	width: 89px;
	text-align: start;
	margin-left: 166px;
    /* margin-right: 0px; */
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 36px;
	transition: .3s ease all;
    border-bottom: 1px solid rgb(78, 6, 6);
}

.inputsSexo{
	width: 5.5rem;
}
.inputSexo{
	margin-left: 2.2rem;
}
.obligatorio{
	background-color: rgb(253, 237, 216);
}
@media screen and (max-width : 1366px){
	.formulario-input-DNI-familia{
		
		width: 8rem;
	}
	.formulario-input-DNI-input{
		width: 6rem;
	}
	.inputSexo{
		margin-left: 2rem;
	}
}
@media screen and (max-width : 1280px){
	.formulario-input-DNI-familia{
		
		width: 8rem;
	}
	.formulario-input-DNI-input{
		width: 6rem;
	}
	.inputSexo{
		margin-left: 2rem;
	}
}
@media screen and (max-width : 1024px){
	.formulario-input-DNI-familia{
		/* margin-left: 2.6rem; */
		width: 5rem;
	}
	.inputSexo{
		margin-left: 2rem;
	}
}