.none{
    display: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formulario-input-Date{
	width: 89px;
	text-align: start;
	margin-left: 22px;
    margin-right: 0px;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	/* height: 36px; */
	transition: .3s ease all;
    /* border-bottom: 1px solid rgb(78, 6, 6); */
}
.secondCheck2{
	margin-left: 2%;
}
.secondCheck{
	margin-left: 14.8%;
}

.secondCheckDocs{
	margin-left: 6.5%;
}

