.none{
    display: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formulario-input-Date{
	width: 89px;
	text-align: start;
	margin-left: 22px;
    margin-right: 0px;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	/* height: 36px; */
	transition: .3s ease all;
    /* border-bottom: 1px solid rgb(78, 6, 6); */
}
.form-check{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.select-date-DatosPerson{
	margin-left: 20%;
}



.form-check-label{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	width: 38%;
	padding: 0;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 400;
}
.form-check-label-pagos{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	font-size: small;
	font-weight: 400;
}
.secondCheck2{
	width: 10rem;
}
.secondCheckNac{
	margin-left: 1.8rem;
	width: 10rem;
}
.formulario__grupo__inputs {
	height: 42px;
}
.inputDate2{
	text-align: center;
	width: 13.1rem;
}
/* .dateTrabajos2{
	width: 38%;
    box-sizing: border-box;
    margin-left: 5%;
    padding: 0% ;
} */
@media screen and (max-width: 1366px){
	.form-check-label{
		font-size: small;
		margin: 0;
	}
	.inputDate2{
		margin-left: rem;
	}
	.secondCheckNac{
		margin-left: 2.4rem;
	}
	.formulario__grupo__inputs {
		height: 35px;
	}
}
@media screen and (max-width: 1280px){
	.formulario__grupo__inputs {
		height: 35px;
	}
	.secondCheckNac{
		margin-left: 2.4rem;
	}
}