.sectionExtras{
    font-size: 0.8rem;
}

.divObservaciones{
    margin-left: 6.2rem;
    margin-bottom: 1%;
}
.linea{
    border-top: 2px solid black;
}
.divObservacionesAfectacion{
    margin-left: 5.3rem;
}
.divObservacionesAfectacionObs{
    margin-left: 7.3rem;
}