.formulario__grupo__inputs__cbo{
    display: grid;
    grid-template-areas: "nombre cbo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 2%;
    width: 100%;
}
.form__grupo__label__inp{
    grid-area: nombre;   
    display: grid;
    grid-template-areas: "primer segun";
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 1fr;
    margin-top: 2%;
    width: 100%;
}
.primero{
    grid-area: primer;
}
.segundo{
    grid-area: segun;
    width: 100%;
}