.form-input-FliaCabecera{
	
	display: flex;
	padding-left: 3%;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	border: none;
	height: 30px;
}
.form-input-FliaCabecera:focus{
    
    outline: none;
}

.form__label-Cabecera{
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-weight: 400;
    width: 20%;
}