.dateTrabajos{
    padding: 0;
    box-sizing: border-box;
    margin-left: 4%;
}
.dateTrabajos2{
    padding: 0;
    box-sizing: border-box;
    margin-left: 5%;
}
.checkTrabajos{
    margin-left: 2%;
}
.labelTrabajos{
    margin-left: 2%;
}