.form__grupo__inputs_Obs{
    width: 220px;
    resize: none;
}
.form-control-obs{
    resize: vertical none;
}

.txtArea{
    max-width: 350px;
    max-height: 250px;
    width: 400px;
    resize: none;
}

.txtArea:focus{
    background-image: linear-gradient(to bottom, transparent, rgb(189, 103, 103, 0.3));
}

.txtArea::placeholder{
    padding: 8px;
}