.form__grupo__inputs_Obs{
    width: 220px;
    resize: none;
}
.form-control-obs{
    resize: vertical none;
}

.txtArea{
    width: 460px;
    resize: none;
    padding: 7px;
    
}

.txtArea:focus{
    background-image: linear-gradient(to bottom, transparent, rgb(189, 103, 103, 0.3));
}


/* .count-container{
	background-color: #30383e;
	min-height: 100vh;
	padding: 100px 15px;
} */
/* .count-container form{
	max-width: 700px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
} */
.count-container form .input-group{
	width: 100%;
	/* margin-bottom: 30px; */
}
.count-container form .input-control{
	display: block;
	width: 100%;
	height: 50px;
	font-size: 14px;
	padding: 15px;
	color: #000000;
}
.count-container form textarea.input-control{
	height: 140px;
}
.count-container form textarea.input-control{
	height: 140px;
}
.count-container form .input-msg{
	font-size: 18px;
	padding-top: 10px;
}
.text-red{
	color: red;
}
.text-orange{
	color: orange;
}
