.form__grupo__inputs_Obs{
    width: 220px;
    resize: none;
}
.form-control-obs{
    resize: vertical none;
}

.txtArea{
    width: 300px;
    resize: none;
    padding: 7px;
    
}

.txtArea:focus{
    background-image: linear-gradient(to bottom, transparent, rgb(189, 103, 103, 0.3));
}

