.none{
    display: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-input-DateFlia2{
	text-align: start;
     margin-left: 1.5%; 
    /* margin-right: 0px; */
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	transition: .3s ease all;
}
.form-input-DateFlia2{
	text-align: start;
     margin-left: 28%; 
    /* margin-right: 0px; */
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	transition: .3s ease all;
}
.formulario__grupo__DateFlia{
	display: grid;
    grid-template-areas: "nombre input icons error";
    grid-template-columns: 0.4fr 1fr 0.1fr 1.5fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.dateFlia{
	position: absolute;
	margin-top: 0.35% ;
    left: 37.8%;
}
.formularioDate{
	margin-left: 0.1%;
}
.inputDate2{
	margin-left: 2.4rem; 
}
.inputDateBaja{
	/* margin-left: 0%; */
}
.bajaFlia{
	margin-top: 0px;
    margin-left: 10%;
}