.none{
    display: none;
}

.formulario-label-Parentesco{
	font-style: normal;
	font-weight: 400;
	color: black;
	margin-top: 0px;
	margin-right: 20px;
    margin-left: 0px;
	margin-bottom: 0px;
	display: block;
}

.formulario-label-ParentescoFlia{
	font-style: normal;
	font-weight: 400;
	color: black;
	margin-top: 0px;
	margin-right: 20%;
    margin-left: 0px;
	margin-bottom: 0px;
	display: block;
}

.form-input-ParentescoFlia{
    margin-bottom: 3px;
	width: 200%;
	margin-left: 260%;
    margin-right: 0px;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 42px;
	transition: .3s ease all;
    border-bottom: 1px solid rgb(78, 6, 6);
	/* margin-top: -5px; */
}

.form-inputs-radioFijar{
	position: absolute;
	margin-left: 26.5%;
}

.btn-modal-miau{
	position: absolute;
	margin-left: 9%;
}
.input__parentesco{
	position: relative;
	left: 30%;
}
.input-parentesco{
	position: absolute;
	left: 25%;
}