.input__form{
    width: 15rem;
}
.formulario-input-Familia{
    margin-bottom: 3px;
	width: 200px;
	margin-left: 0px;
    margin-right: 29px;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 42px;
	transition: .3s ease all;
    border-bottom: 1px solid rgb(78, 6, 6);
}